.root {
  position: static;
}
.img1 {
  position: relative;
  border-radius: 12px;
}
.image {
}
.div1 {
  font-size: var(--text-extra-large-font-size);
  line-height: var(--text-extra-large-font-size);
}
